language: go

branches:
  only:
    - master

install:
  - curl -LO https://github.com/gohugoio/hugo/releases/download/v0.58.3/hugo_0.58.3_Linux-64bit.deb
  - sudo dpkg -i hugo_0.58.3_Linux-64bit.deb

script:
  - hugo --minify

deploy:
  - provider: script
    script: bash deploy.sh
    skip_cleanup: true
    on:
      branch: master
