baseUrl: /
languageCode: en-us
theme: terminal
paginate: 5

params:
  # dir name of your blog content (default is `content/posts`)
  contentTypeName: posts
  # ["orange", "blue", "red", "green", "pink"]
  themeColor: green
  # if you set this to 0, only submenu trigger will be visible
  showMenuItems: 3
  # show selector to switch language
  showLanguageSelector: false
  # set theme to full screen width
  fullWidthTheme: false
  # center theme with default width
  centerTheme: false

languages:
  en:
    languageName: English
    title: thecodecousins
    subtitle: Anything that's software
    keywords: ''
    menuMore: Show more
    readMore: Read more
    readOtherPosts: Read other posts

    params:
      logo:
        logoText: thecodecousins
        logoHomeLink: /

    menu:
      main:
        - identifier: about
          name: about
          url: /about
        - identifier: contribute
          name: contribute
          url: /contribute
